.header__content_user-profile {
    display: flex;
    align-items: center;
    font-size: 18px;
    text-decoration: none;
    color: rgb(70,70,70);
    height: inherit;
}

.header__content_user-profile:hover {
    text-decoration: underline;
}

.header__content_user-profile--user-avatar {
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}